.containerProjetos {
    max-width: 50rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.containerProjetos .card {
    position: relative;
    padding: 10px;
    width: calc(33.33% - 40px); 
    background-color: white;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;
}

.containerProjetos .card img {
    max-width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 1rem;
}

.containerProjetos .card h2 {
    font-size: 1.5rem; 
    margin: 0.5rem 0;
}

.containerProjetos .card .content {
    padding: 10px;
    text-align: center;
}

.containerProjetos .card .content p {
    color: #666;
    transition: 0.5s;
    font-size: 1rem; 
}

.containerProjetos .card .content a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 10px;
}

/*hover*/

.containerProjetos .card:hover {
    background-color: black;
    margin-top: 30px;
    box-shadow: 2px 20px 25px rgb(156, 156, 137);
    border-color: rgb(110, 106, 106);
}

.card:hover h2{
    color: white;
}

.card:hover .content a {
    background-color: rgb(110, 106, 106);
}

/*responsividade*/
@media screen and (max-width: 768px) {
    .containerProjetos .card {
        width: calc(50% - 40px); 
    }
}

@media screen and (max-width: 480px) {
    .containerProjetos .card {
        width: calc(100% - 40px); 
    }

    .containerProjetos {
        padding: 10px;
    }

    .containerProjetos .card .content p {
        font-size: 0.9rem; 
    }
}
